@{
    ViewData["Title"] = "Home Page";
}
@using System.Data;
@model DataTable;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table table-hover table-header-fixed">
    <thead>
        <tr>
            <th scope="col">City count</th>
             <th scope="col">Country count</th> 
            <th scope="col">State Count</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody id="cityTable">
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["TotalCity"] </td>
                 <td>@row["TotalCountry"] </td>
                <td>@row["Totalstate"]</td>
                <td class="text-center">
                    <a class="btn btn-outline-success btn-xs" asp-controller="" asp-action="" >
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a class="btn btn-outline-danger btn-xs" asp-controller="" asp-action=""  onclick="return confirm('Are you sure you want to delete this city?');">
                        <i class="bi bi-x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>